
// * ------------------------------------ +
// *
// *    02 tools / MIXINS
// *
// * ------------------------------------ +



@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



// * transition vendor mixin
// * usage: @include transition(color .3s ease);

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}



// * truncate long text ...
// * usage: @include truncate(100%);

@mixin truncate($width) {
    max-width: $width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



// * include vendor prefixes
// * usage: @include vendor-prefix(hyphens, auto);

// @mixin vendor-prefix($name, $argument) {
//   -webkit-#{$name}: #{$argument};
//   -ms-#{$name}: #{$argument};
//   -moz-#{$name}: #{$argument};
//   -o-#{$name}: #{$argument};
//   #{$name}: #{$argument};
// }

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
