
// * ------------------------------------ +
// *
// *    07 utilities / TEXT
// *
// * ------------------------------------ +



// * text alignments

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}


// * text transforms

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}



// * text controlls

.text-break-word {
    word-wrap: break-word;
}

.text-no-wrap {
    white-space: nowrap !important;
}

.text-dont-break-out {
    @include word-wrap();
}

.text-truncate {
    @include truncate(100%);
}



// * responsive alignments per viewport

.small-only-text-center {
    @media #{$small-only} { text-align: center !important; }
}

.medium-only-text-center {
    @media #{$medium-only} { text-align: center !important; }
}

.large-only-text-center {
    @media #{$large-only} { text-align: center !important; }
}
